#faqs-hero {
    background-image: url("/public/hero_bg_4.jpg");
    background-position: center top;
    background-repeat: no-repeat;
    
    padding-bottom: 30px;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%; 

    background-size: cover;
 
  }
  .faqs-wrapper{
      display: flex;
      flex-wrap: wrap;
      
      padding: 80px 0px;
  }
  .faqs-top{
      padding: 100px 0px;
      display: flex;
  }
  .faqs-title h1{
      padding-top: 30px;
      font-size: 35px;
      color: var(--white);
      font-weight: 700;
      text-align: center;
      line-height: 39px;
      font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  }


  .faqs{
      width: 100%;
      margin: auto;
  }

  .accordion-body {
    padding: 20px 0px ;
}

.accordion-button {
    position: relative;
    display: flex;
    align-items: center;
    width: 100%;
    padding: 10px 0px;
    font-size: 1rem;
    color: #212529;
    text-align: left;
    background-color: #fff;
    border: 0;
    border-radius: 0;
    overflow-anchor: none;
    transition: color .15s ease-in-out,background-color .15s ease-in-out,border-color .15s ease-in-out,box-shadow .15s ease-in-out,border-radius .15s ease;
}
.accordion-button:not(.collapsed) {
    
    background-color: #e7f1ff;
    box-shadow: 0;
}
.accordion-button:not(.collapsed) {
    /* color: #0c63e4; */
    background-color: #e7f1ff;
    /* box-shadow: inset 0 -1px 0 rgb(0 0 0 / 13%); */
}
  .accordion-item {
    padding: 12px 0px;
     border:0px   solid rgba(0,0,0,.125); 
    
    border-bottom: 1px solid;
    border-color: var(--cyan-gray);
   
}

.accordion-button:focus {
    z-index: 3;
    border-color: var(--white);
    outline: 0;
    box-shadow: 0;
    box-shadow: 0 0 0 0.25rem rgba(255, 255, 255, 0.25); 
}


.accordion-button:not(.collapsed) {
    color: var(--black);
    background-color: #ffffff !important;
    box-shadow: inset 0 -1px 0 rgba(255, 255, 255, 0.13);
}

.faqs{
    display: flex; 
    height: auto;
}

.accordion-button::after {
    flex-shrink: 0;
    border: 1px solid black;
    border-radius: 50%;
    width: 30px;
    height: 30px;
    margin-left: auto;
    content: "";
    background-image: url(/public/plus.png);
    background-repeat: no-repeat;
    background-position: center;
    background-size: 1.25rem;
    transition: transform .2s ease-in-out;
}
.accordion-button:not(.collapsed)::after {
    background-image: url(/public/minus.png);
    transform: rotate(-180deg);
}

#how-to{
    background-color: var(--light-gray);
}
.steps-wrapper{
    padding: 30px 0px;
    display: flex;
    margin: 0px auto;
    width: 100%;
}
.step-box{
    padding: 0;
    margin: 12px 0px;
}
.steps-icon{
    
    width: 45px;
    height: 45px;
}
.steps-icon img{
   margin-right: 5px;
}

.steps-details{
    padding-top: 2px;
    padding-left: 10px;

}
.steps-details h1{
    font-size: 20px;
}


#the-difference{
    padding: 50px 0px;
}
.difference-wrapper h2{
    background-color: var(--amber);
    padding: 7px 20px;
    font-size: 14px;
    color: var(--white);
    width: fit-content;
    
}

.difference-wrapper h1{
    color: var(--dark-gray);
    font-size: 26px;
    font-weight: 600;
    padding: 5px 0px;
}

.difference-wrapper p{
    padding: 10px 0px;
    color: var(--darkgray);
}