:root {
    --darkgray: rgba(31,44,61,100);
    --yello:#FFA726;
    --blue: #1e90ff;
    --white: #ffffff;
    --cyan-gray:#abb8c3;
    --black: #000000;
    --white: #ffffff;
    --pink: #f78da7;
    --dark--red: #cf2e2e;
    --orange: #ff6900;
    --amber: #fcb900;
    --light-green: #7bdcb5;
    --vivid-green: #00d084;
    --light--blue: #8ed1fc;
    --vivid-blue: #0693e3;
    --vivid-purple: #9b51e0;

    --nectar-accent-color: #FFA726;
    --nectar-extra-color-1: #32437b;
    --nectar-extra-color-2: #ffffff;
    --nectar-extra-color-3: #333333;
  }

.navbar {
    padding: 40px;
    border-bottom: 0;
    letter-spacing: 1px;
    font-size: 7, 2rem;
    background: 0 0;  
}

.navbar {
    margin: 0;
    padding: 40px 0px;
    font-size: large;
    border-bottom: 0;
    letter-spacing: 1px;
    background: 0 0;
    -webkit-transition: background .5s ease-in-out, padding .5s ease-in-out;
    -moz-transition: background .5s ease-in-out, padding .5s ease-in-out;
    transition: background .5s ease-in-out, padding .5s ease-in-out;
}

.top-nav-collapse {
    padding: 10px 0;
    background-color: rgba(31, 44, 61, 100)
}

.container-fluid {
    padding: 0;
}

.logo img {
    width: 160px;
    height: 100%;

}

.larg-logo img {
    width: 120px;
    height: 100%;
}

.navbar-fixed-top,
.navbar-fixed-bottom {
    position: fixed;
    right: 0;
    top: 0;
    left: 0;
    z-index: 1030;
}

.social-media ul {
    display: flex;
    color: white;

    margin: auto;

}

.social-media li {
    text-decoration: none;
    list-style: none;
    margin: auto 12px;
}

.navbar-toggler {
    background-color: white;
}

/* added */
.dropdown-menu {
    margin-top: 0;
}

.dropdown-menu .dropdown-toggle::after {
    vertical-align: middle;
    border-left: 4px solid;
    border-bottom: 4px solid transparent;
    border-top: 4px solid transparent;
}

.dropdown-menu .dropdown .dropdown-menu {
    left: 100%;
    top: 0%;
    margin: 0 20px;
    border-width: 0;
}

.dropdown-menu .dropdown .dropdown-menu.left {
    right: 100%;
    left: auto;
}


.nav-link {
    color: white;
    font-size: 14px;
    line-height: 20px;
    text-align: left;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

.dropdown-item {
    color: white;
    font-size: 14px;
    line-height: 20px;
    text-align: left;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

.nav-link:hover {
    color: #0a58ca;
}

.nav-link .active {
    color: #4358B5;
}

.get-started {
    background-color: #FFA726;
    padding: auto 20px;
}

/* added css */
.dropdown-toggle::after {
    display: block;
}

.header-container {
    display: flex;

}

/* #nav-link {
    margin-left: auto;
    order: 1;
}

#nav-social {
    order: 1;
    margin-left: auto;
}

#toggle {
    order: 4;
} */



.nav-social ul {
    display: flex;
}

.navbar-nav .dropdown-menu {
    background-color: rgba(31, 44, 61, 100);
    color: white;
    border: 0px;
}

.navbar-collapse {
    overflow-y: scroll;
    width: auto;
    white-space: nowrap;
    position: relative;
    height: 100vh;
    background-color: rgba(31, 44, 61, 100);

}

.sidebarIconToggle {
    margin-right: 20px;
}

.sidebarIconToggle {
    transition: all 0.3s;
    box-sizing: border-box;
    cursor: pointer;
    z-index: 99;
    height: 100%;
    width: 100%;
    width: 22px;
}

.logo {
    margin-left: 20px;
}

.social-media {
    margin-left: auto;
    display: none;
}


input[type=checkbox] {
    transition: all 0.3s;
    box-sizing: border-box;
    display: none;
}



.spinner {
    transition: all 0.3s;
    box-sizing: border-box;
    position: absolute;
    height: 3px;
    width: 100%;
    background-color: #fff;
}

.horizontal {
    transition: all 0.3s;
    box-sizing: border-box;
    position: relative;
    float: left;
    margin-top: 3px;

}

.diagonal.part-1 {
    position: relative;
    transition: all 0.3s;
    box-sizing: border-box;
    float: left;
}

.diagonal.part-2 {
    transition: all 0.3s;
    box-sizing: border-box;
    position: relative;
    float: left;
    margin-top: 3px;
    width: 70%;
}


input[type=checkbox]:checked~.sidebarIconToggle>.horizontal {
    transition: all 0.3s;
    box-sizing: border-box;
    transform: rotate(-135deg);
    margin-top: -3px;
}

input[type=checkbox]:checked~.sidebarIconToggle>.diagonal.part-1 {
    transition: all 0.3s;
    box-sizing: border-box;
    transform: rotate(135deg);
    margin-top: 8px;
}

input[type=checkbox]:checked~.sidebarIconToggle>.diagonal.part-2 {
    transition: all 0.3s;
    box-sizing: border-box;
    opacity: 0;
}

.navbar-collapse{
    height: auto;
    background-color: inherit;
}
.dropdown-toggle::after {
    display: none;
}

@media (min-width: 768px) {
   
    .dropdown-menu .dropdown .dropdown-menu {
      margin: 0;
      border-width: 1px;
    }
    .navbar-nav .nav-link a {
        display: flex;
    }
    .dropdown-menu > li a:hover,
    .dropdown-menu > li.show {
      background: #007bff;
      color: white;
    }
    .dropdown-menu > li.show > a {
      color: white;
    }
    #nav-link{
      margin-left: auto;
    
    }
    #nav-social{
     
      margin-left: auto;
    }
  
   
  }
@media screen and (max-width: 768px) {
    .navbar{
        padding: 10px 0;
    }
  .sidebarIconToggle{
      margin: 0 10px;
  } 
  .logo img{
      padding: 0 10px;
      width: 120px;
      height: 100%;
  }
  .navbar-collapse .navbar-nav{
      padding: 10px 20px;
      overflow: scroll;
  }
  .navbar-nav li{
      padding: 15px;
  }
  

}

@media screen and (min-width: 1024px){
 
    .logo{
        margin-left: 90px;
    }
    .social-media{
        display: block;
    }
    .social-media{
        margin-right: 90px;
    }
  
    .social-media {
        display: block;
        margin-right: 10px;
    }
    .sidebarIconToggle{
        margin-right: 90px;
    }

}


@media screen and (max-width: 1024px) {
    .navbar-collapse{
        overflow-y: scroll;
        width: auto;
        white-space: nowrap;
   /*      position: relative; */
        height: 100vh;
        background-color: rgba(31,44,61,100);
    }
    .navbar-nav li a {
      display: flex;
    }
    .dropdown-toggle::after {
        display: block;
        width: 10px;
        padding-top: 8px;
        margin-left: auto;
        margin-top: auto;
    }
    .navbar-collapse .navbar-nav{
        padding: 10px 20px;
        overflow: scroll;
    }
    .navbar-nav li{
        padding: 15px;
    }
   
    #social-nav{
        order:-1;
    }
    
    #logo{
        order: -2;
    } 
}

@media screen and (min-width: 1440px){
    .sidebarIconToggle{
        display: none;
    }
   
}