:root {
    --gray-background: #ededed;
    --darkgray: rgba(31,44,61,100);

    --dark-gray:#003366;
    --light-gray:#344581;
    --yellow:#FFA726;
    --blue: #1e90ff;
    --white: #ffffff;
    --light-gray: #ededed;
    --cyan-gray:#abb8c3;
    --lightgray:#676767;
    --black: #000000;
    --white: #ffffff;
    --pink: #f78da7;
    --dark--red: #cf2e2e;
    --orange: #ff6900;
    --amber: #fcb900;
    --light-green: #7bdcb5;
    --vivid-green: #00d084;
    --light--blue: #8ed1fc;
    --vivid-blue: #0693e3;
    --vivid-purple: #9b51e0;
    --light-blue:#4153a9;
    --nectar-accent-color: #FFA726;
    --nectar-extra-color-1: #32437b;
    --nectar-extra-color-2: #ffffff;
    --nectar-extra-color-3: #333333;
  }


  #bad-credit-hero{
    background-image: url("/public/hero_bg_2.jpg");
    background-position: center top;
    background-repeat: no-repeat;
    margin-top: -150px;
    padding-bottom: 30px;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%; 
    background-size: cover;
  }

  .hero{
    
    background-position: center top;
    background-repeat: no-repeat;
    margin-top: -150px;
    padding-bottom: 30px;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%; 
    background-size: cover;
  }
  .cash-advances{
    background-image: url("/public/hero_bg_2.jpg");
  }
  .emergency-cash{
    background-image: url("/public/hero_bg_2.jpg");
  }

  .fast-cash{
    background-image: url("/public/hero_bg_2.jpg");
  }
  .guaranteed{
    background-image: url("/public/hero_bg_2.jpg");
  }
  .installment{
    background-image: url("/public/hero_bg_2.jpg");
  }
  .no-credit{
    background-image: url("/public/hero_bg_2.jpg");
  }
  .online-loan{
    background-image: url("/public/hero_bg_2.jpg");
  }
  .payday-advance{
    background-image: url("/public/hero_bg_2.jpg");
  }
  .personal-loan{
    background-image: url("/public/hero_bg_2.jpg");
  }
  .same-day{
    background-image: url("/public/hero_bg_2.jpg");
  }
  .short-term{
    background-image: url("/public/hero_bg_2.jpg");
  }
  .little-loan{
    background-image: url("/public/hero_bg_2.jpg");
  }
  .payday-loan{
    background-image: url("/public/hero_bg_2.jpg");
  }

  .hero-title{
    padding-top: 280px;
    font-size: 35px;
    color: var(--white);
    font-weight: 600;
    line-height: 39px;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}
.center{
    text-align: center;
}
.button{
    border-radius: 0px 15px 0px 15px;
    background-color: var(--yellow);
    color: var(--white);
    padding: 18px 2px;
    text-align: center;
    margin: 30px 10px;
    
    font-size: 18px;
    font-weight: 300;
    margin: auto;
    justify-content: center;
  }
  .button a{
      text-decoration: none;
      color: var(--white);
  }

  .hero-paragraph{
      color: var(--white);
      font-size: 21px;
      font-weight: 300;
      line-height: 34px;
  }
  .text-small{
      font-size: 12px;
      line-height: 14px;
      color: var(--cyan-gray);
  }
  #bad-credit-list{
      background-color: var(--gray-background);
      
  }
  .bg-light-gray{
    background-color: var(--gray-background);
  }
  .bg-white{
    background-color: var(--white);
  }
  .bg-light-blue{
    background-color: var(--light-blue);
  }

    .text-white{
        color: var(--white);
    }
  .title{
      margin: 18px 0px;
      font-size: 26px;
  }
  .paragraph{
    font-size: 20px;
  }
  .font-small{
      font-size: 17px;
  }
  .orange{
      color: var(--nectar-accent-color);
  }
  .dark-orange{
      color: var(--amber);
  }
  .dark-gray{
      color: var(--dark-gray);
  }
  .green{
      color: var(--dark-gray);
  }
  .light-gray{
      color: var(--cyan-gray);
  }
  .bold{
      font-weight: 600;
  }

  .bad-credit-list li{
    
      color: var(--nectar-accent-color);
      list-style: none;
      text-align: center;
      font-weight: 500;
      padding: 4px;
      font-size: 18px;

  }
  .p-sm{
      padding: 7px;
  }
  .p-md{
      padding: 15px;
  }
  .p-lg{
      padding: 25px;
  }
  .p-xl{
      padding: 50px;
  }
  .py-sm{
      padding: 7px 0px;
  }
  .py-md{
      padding: 15px 0px;
  }
  .py-lg{
      padding: 25px 0px;
  }
  .py-xl{
      padding: 50px 0px;
  }
  .pl-sm{
      padding-left: 7px;
  }
  .pl-md{
      padding-left: 15px;
  }
  .pl-lg{
      padding-left: 25px;
  }
  .pr-sm{
      padding-right: 7px;
  }
  .pr-md{
      padding-right: 15px;
  }
  .pr-lg{
      padding-right: 25px;
  }
  .pt-sm{
      padding-top: 7px;
  }
  .pt-md{
      padding-top: 15px;
  }
  .pt-lg{
      padding-top: 25px;
  }
  .underline{
      border: 2px solid;
      width: 60px;
      border-color: var(--nectar-accent-color);
  }
  .useful-guides li{
      padding: 4px 0px;
      list-style: none;
  }
  .useful-guides li a{
      text-decoration: none;
      font-size: 20px;
      color: var(--nectar-accent-color);
  }
  .faq-question{
      height: fit-content;
  }
  .faq-question a{
      background-color: var(--cyan-gray);
      margin: 4px 2px;
      text-align: center;
      color: var(--lightgray);
      font-size: large;
  }
  .faq-question a:active a{
    background-color: var(--blue);
    
    font-size: small;
}
.box{
    background-color: var(--white);
    border-radius: 0px 15px 0px 15px;
    height: 100%;
    padding: 22px;
    
}
.box img{
 max-width: 75%;
 height: auto;
 display: flex;
 margin: 0px auto;
 text-align: center;
}
.col{
    flex: 1;
}
.rounded-corner{
    border-radius: 0px 30px 0px 30px;
    
}