.navbar {
    padding: 40px  0;
    border-bottom: 0;
    letter-spacing: 1px;
    font-size: 7,2rem;
    background: 0 0;

}
.navbar {
    margin: 0;
    padding: 40px  0;
    font-size: large;
    border-bottom: 0;
    letter-spacing: 1px;
    background: 0 0;
    -webkit-transition: background .5s ease-in-out,padding .5s ease-in-out;
    -moz-transition: background .5s ease-in-out,padding .5s ease-in-out;
    transition: background .5s ease-in-out,padding .5s ease-in-out;
}
.top-nav-collapse {
    padding: 10px 0;
    background-color: rgba(31,44,61,100)
}

.logo img {
    width: 160px;
    height: 100%;
   
  }
.larg-logo img{
    width: 120px;
    height: 100%;
}

.navbar-fixed-top,
.navbar-fixed-bottom {
  position: fixed;
  right: 0;
  top: 0;
  left: 0;
  z-index: 1030;
}

  @media screen and (max-width: 768px) {
    .navbar{
        padding: 10px;
    }
    .logo img{
        width: 120px;
        height: 100%;
    }
  }

  


/* added */
.dropdown-menu {
    margin-top: 0;
  }
  .dropdown-menu .dropdown-toggle::after {
    vertical-align: middle;
    border-left: 4px solid;
    border-bottom: 4px solid transparent;
    border-top: 4px solid transparent;
  }
  .dropdown-menu .dropdown .dropdown-menu {
    left: 100%;
    top: 0%;
    margin: 0 20px;
    border-width: 0;
  }
  .dropdown-menu .dropdown .dropdown-menu.left {
    right: 100%;
    left: auto;
  }
  @media (min-width: 768px) {
    .dropdown-menu .dropdown .dropdown-menu {
      margin: 0;
      border-width: 1px;
    }
  
    .dropdown-menu > li a:hover,
    .dropdown-menu > li.show {
      background: #007bff;
      color: white;
    }
    .dropdown-menu > li.show > a {
      color: white;
    }
    #nav-link{
      margin-left: auto;
      order: 2;
    }
    #nav-social{
      order: 3;
      margin-left: auto;
    }
    #toggle{
      order: 4;
    }
    .nav-social{
      order: 1;
    }
  }
  
  
  
  
  /* added css */
  .dropdown-toggle::after {
    display: none;
  }
  .header-container{
    display: flex;
    
  }
  #nav-link{
    margin-left: auto;
    order: 1;
  }
  #nav-social{
    order: 1;
    margin-left: auto;
  }
  #toggle{
    order: 4;
  }
  
  .nav-social ul{
    display: flex;
  }