@import 'https://fonts.googleapis.com/css?family=Ubuntu+Mono';
 body {
	 background: #121212;
	 color: #fff;
	 font-family: 'Ubuntu Mono', monospace;
	 font-size: 1.6rem;
	 font-weight: regular;
	 -webkit-font-smoothing: antialiased;
}
 wrapper {
	 position: absolute;
	 top: 0;
	 left: 0;
	 bottom: 0;
	 right: 0;
	 padding: 15rem;
}
 .rangeslider {
	 background-color: #fff;
	 border-radius: 0;
	 height: 0.2rem;
}
 .rangeslider__fill {
	 background-color: #f01f14;
	 border-radius: 0;
}
 .rangeslider__handle {
	 width: 1.5rem;
	 height: 1.5rem;
	 position: absolute;
	 transition: transform 0.3s ease-in-out;
	 -moz-transition: transform 0.3s ease-in-out;
	 -webkit-transition: transform 0.3s ease-in-out;
}
 .rangeslider__handle::after {
	 display: none;
}
 .rangeslider__handle:hover, .rangeslider__handle:active {
	 -ms-transform: scale(1.2, 1.2);
	/* IE 9 */
	 -webkit-transform: scale(1.2, 1.2);
	/* Safari */
	 transform: scale(1.2, 1.2);
	 transition: transform 0.1s ease-in-out;
	 -moz-transition: transform 0.1s ease-in-out;
	 -webkit-transition: transform 0.1s ease-in-out;
}
 .rangeslider__value-bubble {
	 position: absolute;
	 top: auto;
	 left: 50%;
	 bottom: 2.5rem;
	 transform: translate(-50%, 0);
	 -webkit-transform: translate(-50%, 0);
	 -ms-transform: translate(-50%, 0);
	 text-align: center;
	 background-color: #f01f14;
	 padding: 1rem;
	 color: #fff;
	 width: auto;
	 margin: 0;
	 white-space: nowrap;
}
 .rangeslider__value-bubble::before {
	 content: "";
	 width: 0;
	 height: 0;
	 border-left: 1rem solid transparent;
	 border-right: 1rem solid transparent;
	 border-top: 1rem solid #f01f14;
	 position: absolute;
	 top: auto;
	 left: 50%;
	 bottom: -1rem;
	 transform: translate(-50%, -45%);
	 -webkit-transform: translate(-50%, -45%);
	 -ms-transform: translate(-50%, -45%);
}
 